.amount {
  display: flex;
  justify-content: center;

  span {
    padding-top: 5px;
  }
}

.price {
  display: flex;
  justify-content: center;

  span {
    padding-top: 5px;
  }
}

.order_item {
  img {
    width: 100px;
    height: 75px;
  }
}
